* {
    font-family: 'Bitter', serif;
    
}
body {
    background-color: #FFFFE0;
}
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#B76FB7;
    height:40px;
    padding:5px; 
}
section {
    
    padding-left: 40px;
    padding-right: 40px; 
    background-color: #FFFFE0;
    height: 650px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
article {
    padding-left: 40px;
    padding-right: 480px; 

}
div{
    padding-left: 40px;
    padding-right: 300px;
}





