* {
	font-family: 'Bitter', serif;
}

main {
   padding:20px;
   width: 600px;

   background-color: #E0E0E0;
   color: #363636;
}

article {
   font-size: 16px;
   text-rendering: auto;
}

article header {
	font-weight: bold;
	font-size: 18px;
}
