* {
    font-family: 'Bitter', serif;
}

nav {
    margin-left: 2%;
    margin-top: 3%;
}

.container {
   margin-left:10%;
   padding:20px;
   border-radius: 4px;
   background-color: #555;
   word-wrap: break-word;
   font-size: 12pt;
}

article {
    text-align: justify;
    hyphens: auto;
}

p {
}

#home {
    font-size: 10pt;
}
